<nav class="nav">
    <div class="nav__container container">
        <ul class="nav__items list">
            <!-- Navbar for authenticated user -->
            {% url 'recipe_list' as recipe_list %}
            {% url 'recipe_create' as recipe_create %}
            {% url 'subscription_list' as subscription_list %}
            {% if user.is_authenticated %}
                <li class="nav__item {% if request.get_full_path == recipe_list %}nav__item_active{% endif %}"><a href="{% url 'recipe_list' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item {% if request.get_full_path == subscription_list %}nav__item_active{% endif %}"><a href="{% url 'subscription_list' %}" class="nav__link link">Мои подписки</a></li>
                <li class="nav__item {% if request.get_full_path == recipe_create %}nav__item_active{% endif %}"><a href="{% url 'recipe_create' %}" class="nav__link link">Создать рецепт</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Избранное</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">4</span></li>
            {% else %}
            <!-- Navbar for not authenticated user -->
                <li class="nav__item {% if request.get_full_path == recipe_list %}nav__item_active{% endif %}"><a href="{% url 'recipe_list' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок <span class="badge badge_style_blue nav__badge" id="counter">4</span></a></li>
            {% endif %}
        </ul>
        <ul class="nav__items list">
            <!-- Navbar for authenticated user -->
            {% url 'password_change' as password_change %}
            {% url 'login' as login %}
            {% if user.is_authenticated %}
                <li class="nav__item {% if request.get_full_path == password_change %}nav__item_active{% endif %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
            {% else %}
            <!-- Navbar for not authenticated user -->
                <li class="nav__item {% if request.get_full_path == login %}nav__item_active{% endif %}"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            {% endif %}
        </ul>
    </div>
</nav>